.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
 font-weight: var(--fw800);
  z-index: 1000;

    @media (max-width: 992px) {
  padding: 10px 6px;
  }
    @media (max-width: 576px) {
  padding: 4px 6px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}



.nav {
  display: flex;
  gap: 20px;


  a {

      font-weight: var(--fw800);
    transition: 0.2s;

    &:hover {
      color: var(--gray);
    }
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.profile {
  a {


    transition: 0.2s;

    &:hover {
      color: var(--gray);
    }
  }

  @media (max-width: 992px) {
    display: none;
  }
}

/* Бургер */
.burger {
  position: relative;
  width: 30px;
  height: 22px;
  display: none;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;

  span {
    position: absolute;
    left: 0; // чуть влево
    display: block;
    width: 100%;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transition: 0.4s;
  }

  /* верхняя линия */
  span::before,
  /* нижняя линия */
  span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--white);
    border-radius: 2px;
    transition: 0.4s;
    left: 0;
  }

  span::before {
    top: -8px;
  }

  span::after {
    top: 8px;
  }

  /* активное состояние */
  &.active span {
    background: transparent; // средняя исчезает
  }

  &.active span::before {
    transform: rotate(45deg);
    top: 0;
    background: var(--white);
  }

  &.active span::after {
    transform: rotate(-45deg);
    top: 0;
    background: var(--white);
  }

  @media (max-width: 992px) {
    display: flex;
  }
}


/* Сайдбар */
.sidebar {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: var(--dark);
  padding: 80px 20px;
  transition: right 0.3s ease;
  z-index: 1000;

  &.open {
    right: 0;
  }
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    font-size: var(--fz20);
    font-weight: var(--fw600);
    color: var(--white);
    transition: color 0.2s;

    &:hover {
      color: var(--cyan);
    }
  }
}

/* Затемнение */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}


