

:root {
    // Colors

    --black: #000;
    --white: #fff;
    --pink: #EC00F4;
    --cyan: #00EEFF;
    --red: #FF2600;
    --gray: #737373;
    --dark: #131313;
    --green: #00FEA1;
    --orange: #FF7B00;
    --purple: #AA00F2;


    // Font Sizes
    --fz12: 12px;
    --fz14: 14px;
    --fz16: 16px;
    --fz18: 18px;
    --fz20: 20px;
    --fz22: 22px;
    --fz24: 24px;
    --fz26: 26px;
    --fz28: 28px;
    --fz30: 30px;

    // Font Weights
    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;
    --fw700: 700;
    --fw800: 800;
    --fw900: 900;

    //
}