@import url("./global.scss");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  
    color:var(--white);
    background: var(--black);
}

a {
    text-decoration: none;
    color: inherit;
}
ul,li {
    display: block;;
}