/* src/components/MathInput/MathInput.module.scss */

.mathContainer {
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-weight: var(--fw700);
  margin-bottom: 0.5rem;
}

.inputWrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.textarea {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 1rem;
  resize: none;
  outline: none;
}

